<div class="jumbotron">
  <div class="container">
    <h1>My Application</h1>
  </div>
</div>
<div class="col-xs-12 col-sm-3">
  <div class="row">
    <div class="col-xs-3">
      <img class="thumbnail" src="../assets/profile_pic.png" alt="image.png">
    </div>
    <div class="col-xs-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <span>{{ user.firstName + ' ' + user.lastName }}</span>
          <br/>
          <span>{{ user.role}}&nbsp;&nbsp;&nbsp;Tasks: 12345</span>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a class="list-group-item active" href="#">All Assignments</a>
    <a class="list-group-item" href="#">My Assignments</a>
    <a class="list-group-item" href="#">Tools
      <div class="col-xs-8 pull-right">
        <select name="tools" style="margin-top:-7px" id="tools" class="form-control"></select>
      </div>
    </a>
    <a class="list-group-item" href="#">Start a
      <div class="col-xs-8 pull-right">
        <select name="tools" style="margin-top:-7px" id="tools" class="form-control"></select>
      </div>
    </a>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Task Assignment Dashboard</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <td>Type #</td>
          <td>BP Number</td>
          <td>Loan Number</td>
          <td>Description</td>
          <td>Documents</td>
          <td>Amount</td>
          <td>Status</td>
        </thead>
        <tbody>
          <tr>
            <td>D</td>
            <td>123456</td>
            <td>LN12345</td>
            <td>Inmobiliaria Valle Verde Limitada</td>
            <td>15</td>
            <td>60,000</td>
            <td>Operations</td>
          </tr>
          <tr>
            <td>L</td>
            <td>123456</td>
            <td>LN12345</td>
            <td>Inmobiliaria Valle Verde Limitada</td>
            <td>3</td>
            <td>600,000</td>
            <td>VP Review</td>
          </tr>
          <tr>
            <td>E</td>
            <td></td>
            <td></td>
            <td>Replacement Office Chair</td>
            <td>1</td>
            <td>300</td>
            <td>Jaime Mendoza</td>
          </tr>
          <tr>
            <td>R</td>
            <td></td>
            <td></td>
            <td>Disbursement Issue</td>
            <td>0</td>
            <td></td>
            <td>Jaime Mendoza</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>