/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.glyphicon-one-fine-full-dot:before {
    overflow: hidden;
    content: "\25cf";
    font-size: 1.5em;
}

header {
    background: darkolivegreen;
    color: white;    
    padding: 4px 40px;
    width: 100%  !important;  
}

footer {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: darkolivegreen;
    color: white;
    font-size: 10px;
    text-align: center;
}

.margin-bottom5 {
    margin-bottom: 5%;
}

.margin-top-7 {
    margin-top: -7px;
}

.login-card {
    border: solid 1px darkolivegreen;
    border-radius: 4px;
    margin-top: 5%;
    padding: 2%;
}

button {
    background: darkolivegreen;
    color: white;
    width: 100%;
}

a, a:hover, a:visited {
    color: darkolivegreen;
}

.panel-olive-green{
    background: darkolivegreen;
    color: white;
}

.important{
    color: red;
}